<!DOCTYPE html>
<html lang="ru">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="512x512" href="{{ url_for('static',filename='images/icon.png') }}">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Eternity Empire | Контакты</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-icons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/slick.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/tooplate-little-fashion.css') }}">
    </head>
    
    <body>
        <main>

            <nav class="navbar navbar-expand-lg headroom headroom--not-top headroom--pinned headroom--not-bottom">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <strong><span>Eternity</span> Empire</strong>
                    </a>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="">
                                <a class="nav-link" href="/">Главная</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/recomendation">Рекомендации</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/FAQ">FAQ</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" onclick="already_here();">Контакты</a>
                            </li>
                        </ul>
                        {% if not password %}
                        <div class="d-none d-lg-block">
                            <a href="/login" class="bi-person custom-icon me-3"></a>
                        {% else %}
                            <div class="d-none d-lg-block">
                            <a href="/profile" class="bi-person custom-icon me-3"> {{ name }}</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
                </div>
            </nav>

            <section class="contact section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12 mt-5 ms-auto">
                            <div class="row">
                                <div class="col-6 border-end contact-info">
                                    <h6 class="mb-3"></h6>
                                </div>

                                <div class="col-6 contact-info">
                                	<h6 class="mb-3">Электронная почта</h6>

                                    <a href="mailto:shadowostin@vk.com" class="custom-link">
                                        shadowostin@vk.com
                                        <i class="bi-arrow-right ms-2"></i>
                                    </a>
                                </div>

                                <div class="col-6 border-top border-end contact-info">
                                    <h6 class="mb-3"></h6>
                                    <p class="text-muted"></p>
                                </div>

                                <div class="col-6 border-top contact-info">
                                    <h6 class="mb-3">Социальные сети</h6>

                                    <ul class="social-icon">
                                        <li>
                                            <a href="https://t.me/hack0ut" class="social-icon-link bi-telegram" target="blank_">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"><a href="/">Eternity</a> Empire</h4>
                        <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">© Моисеенко Н. А., 2023 г.  <strong>Eternity Empire</strong></p>
                        <br>

                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>